<mat-radio-group value="{{radios}}" (change)="radioChange($event)">
  <mat-radio-button value="Artwork">Artwork</mat-radio-button>
  <mat-radio-button value="Artist">Artist</mat-radio-button>

</mat-radio-group>
<form (submit)="onSubmit(searchForm)" #searchForm="ngForm">
  <input matInput name="search" type="search" [(ngModel)]="searchInput" placeholder="Search.." #SearchInput="ngModel"
    search />
  <button mat-icon-button color="primary" type="submit"><mat-icon>search</mat-icon></button>

</form>