<div *ngIf="isLoading" fxLayout="row" fxLayoutAlign="space-around center" style="height:100%">
  <mat-spinner [diameter]="100" [strokeWidth]="5"></mat-spinner>
</div>
<section *ngIf="!isLoading">
  <div class="row">
    <div class="col-md-6 gx-5 mb-4">
      <div class="bg-image hover-overlay ripple shadow-2-strong rounded-5" data-mdb-ripple-color="light">
        <img src="{{imageUrl}}" alt="{{el['thumbnail']['alt_text']}}" class="img-fluid m-2" />
      </div>
    </div>

    <div class="col-md-6 gx-5 mb-4 p-4">
      <p><strong> Title : {{el['title'] ? el['title'] : "Unknown "}}</strong></p>

      <p><strong>Artist : {{el['artist_title'] ? el['artist_title'] : "Unknown "}}</strong></p>

      <p class="text-muted">
        Artists/Artwork Description : {{el['artist_display'] ? el['artist_display'] : "Unknown "}}
      </p>

      <p class="text-muted">
        Place of Origin : {{el['place_of_origin'] ? el['place_of_origin'] : "Unknown"}}
      </p>

      <p class="text-muted">
        Completed: {{el['date_end'] ? el['date_end'] : "Unknown"}}
      </p>
    </div>
  </div>
</section>
